<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Learn Target</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo/loder2.png">

    <!-- CSS here -->
    <link rel="stylesheet" type="text/css"  href="../css/java.css">
    <link rel="stylesheet" type="text/css"  href="../css/cplus.css">
    <link rel="stylesheet" type="text/css"  href="../css/QuizStyle.css">
    
    <!-- FontAweome CDN Link for Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../css/slicknav.css">
    <link rel="stylesheet" type="text/css" href="../css/flaticon.css">
    <link rel="stylesheet" type="text/css" href="../css/progressbar_barfiller.css">
    <link rel="stylesheet" type="text/css" href="../css/gijgo.css">
    <link rel="stylesheet" type="text/css" href="../css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../css/animated-headline.css">
    <link rel="stylesheet" type="text/css" href="../css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="../css/slick.css">
    <link rel="stylesheet" type="text/css" href="../css/nice-select.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../img/logo/loder2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="../index" style="width: 40px;"><img src="../img/logo/logo22.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li class="active" ><a href="../index">Home</a></li>
                                                <!-- <li><a href="courses">Courses</a></li> -->
                                                <li><a href="../about">About</a></li>
                                                <li><a href="#">Blog</a>
                                                    <ul class="submenu">
                                                        <li><a href="#">Blog</a></li>
                                                        <li><a href="#">Blog Details</a></li>
                                                        <li><a href="#">Element</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/contact">Contact</a></li>
                                                <!-- Button -->
                                                <li class="button-header margin-left "><a href="#" class="btn">Join</a></li>
                                                <li class="button-header"><a href="/login" class="btn btn3">Log in</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <section class="slider-area slider-area2" style="height: 250px;">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row" style="margin-top:-12%">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Check your knowledge</h1>
                                <!-- breadcrumb Start-->
                                <!-- <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href=".../index">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Quizs</a></li> 
                                    </ol>
                                </nav> -->
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </section>
<div id="ContentItem"></div>
<footer style="padding-left: 0px;padding-right: 0px;">
    <div class="footer-wrappper footer-bg">
       <!-- Footer Start-->
       <div class="footer-area footer-padding">
           <div class="container">
               <div class="row justify-content-around">
                   <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                           <div class="single-footer-caption mb-30">
                               <!-- logo -->
                               <div class="footer-logo mb-25">
                                   <a href="index"><img src="../img/logo/log0_footer.png" alt=""></a>
                               </div>
                               <div class="footer-tittle">
                                   <div class="footer-pera">
                                    <p>UNITED INSTITUTE OF MANAGEMENT (FUGS) <br>
                                        NAINI INDUSTRIAL AREA 
                                        DISTT-PRAYAGRAJ UTTAR PRADESH
                                        211010
                                        <br>
                                        <i class="ion-android-phone-portrait"></i> +91 9455006119<br>
                                        <i class="ion-android-mail"></i> suryaji552@gmail.com
                                        </p>
                                       
                                   </div>
                               </div>
                               <!-- social -->
                               <div class="footer-social">
                                   <a href="#"><i class="fab fa-twitter"></i></a>
                                   <a href=""><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-linkedin-in"></i></a>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="gj-text-align-center ">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Address Map</h4>
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3605.8621864104853!2d81.89992041415533!3d25.34240513201473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3985498703109bc7%3A0xde4c7700aef35232!2sUnited%20Institute%20of%20Management%20-%20(Faculty%20of%20Undergraduate%20Studies)!5e0!3m2!1sen!2sin!4v1681009286999!5m2!1sen!2sin" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                           </div>
                       </div>
                   </div>
                   <a aria-label="Chat on WhatsApp" href="https://wa.me/919455006119" target="_blank"
                   style="position: fixed; top: 50%; right: 0pt;"
                   > <img alt="Chat on WhatsApp" src="../img/whatsapp.png" alt="Whatsapp me" /></a>
                   <!-- <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Company</h4>
                               <ul>
                                   <li><a href="#">Design & creatives</a></li>
                                   <li><a href="#">Telecommunication</a></li>
                                   <li><a href="#">Restaurant</a></li>
                                   <li><a href="#">Programing</a></li>
                                   <li><a href="#">Architecture</a></li>
                               </ul>
                           </div>
                       </div>
                   </div> -->
               </div>
           </div>
       </div>
       <!-- footer-bottom area -->
       <div class="footer-bottom-area">
           <div class="container">
               <div class="footer-border">
                   <div class="row d-flex align-items-center">
                       <div class="col-xl-12 ">
                           <div class="footer-copy-right text-center">
                               <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                 Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </a>
                                 <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Footer End-->
     </div>
 </footer> 
 <!-- Scroll Up -->
 <div id="back-top" >
   <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="../js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="../js/vendor/jquery-1.12.4.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="../js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="../js/wow.min.js"></script>
<script src="../js/animated.headline.js"></script>
<script src="../js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="../js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="../js/jquery.nice-select.min.js"></script>
<script src="../js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="../js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="../js/jquery.counterup.min.js"></script>
<script src="../js/waypoints.min.js"></script>
<script src="../js/jquery.countdown.min.js"></script>
<script src="../js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="../js/contact.js"></script>
<script src="../js/jquery.form.js"></script>
<script src="../js/jquery.validate.min.js"></script>
<script src="../js/mail-script.js"></script>
<script src="../js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>


<script src="../Quiz/QuizTopic.js"></script>
<script src="../Quiz/Quizpage.js"></script>
<script src="../Quiz/quizscript.js"></script>

</body>
</html>


